@import "../template-variables";

@media (max-width: $tmpl-screen-xl) {

  // Bottom Full Screen block

  .main-page-bottom-info {
    padding-top: 160px;
    padding-bottom: 160px;
    margin-bottom: 110px;
  }

  .request-block__text-big {
    font-size: 30px;
  }

  .request-block__text {
    font-size: 25px;
  }

  .request-block__button {
    max-width: 250px;
  }

}

@media (max-width: $tmpl-screen-lg) {

  .main-page-full-screen-block {
    min-height: 300px;
    padding-top: 195px;
    margin: 0 0 60px 0;
  }

  .main-page-full-screen-info__date {
    line-height: 35px;

    .text-big {
      font-size: 16px;
    }
  }

  .main-page-full-screen-info__event {
    line-height: 38px;
  }

  .main-page-full-screen-info__decor-line {
    height: calc(100% - 8px);
    margin: 0 50px;
  }

  .main-page__title {
    margin: 0 0 80px 0;
  }

  // Modal slider
  .slider-modal {
    max-width: calc(100% - 40px);
  }

  // Bottom Full Screen block

  .main-page-bottom-info {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 90px;
  }

  .request-block__text {
    font-size: 15px;
  }

  .request-block__button {
    max-width: 215px;
    font-size: 12px;
  }

}

@media (max-width: 1199px) {

  // Slider nav

  .slider-nav__slide-inner {
    max-width: 300px;
    height: 300px;
    line-height: 300px;
    padding: 8px;
  }

}



@media (max-width: 1001px) {

  .main-page-full-screen-block {
    margin: 0 0 50px 0;
  }



  // General info
  .general-info {
    font-size: 14px;
  }

  .general-info-web-other-info__item-value {
    padding: 0 20px 0 10px;
  }

  .general-info-web-other-info__button {
    max-width: 334px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

}


@media (max-width: 1000px) {
  .main-page-full-screen-info__decor-line {
    left: 8px;
    margin: 0 50px;
  }

  // Bottom Full Screen block

  .request-block__text-big {
    font-size: 20px;
  }

  .main-page-bottom-info {
    padding-top: 55px;
    padding-bottom: 55px;
    margin-bottom: 80px;
  }

}

@media (max-width: 769px) {
  .main-page-full-screen-info__decor-line {
    left: 8px;
    margin: 0 40px;
  }

  .main-page__title {
    margin: 0 0 60px 0;
  }

}

@media (max-width: 767px) {

  .main-page-full-screen-block {
    margin: 0 0 30px 0;
  }

  // General info
  .general-info-web-site-info {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .general-info-web-site-info__title {
    margin: 0;
  }

  .general-info-web-other-info__item {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .general-info-web-other-info__item-title {
    width: 100%;
  }

  .general-info-web-other-info__item-value {
    padding: 0;
  }

  // Bottom Full Screen block

  .main-page-bottom-info {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  // Slider nav

  .slider-nav__slide-inner {
    max-width: 280px;
    height: 280px;
    line-height: 280px;
    padding: 5px;
  }

  // Slider Modal

  .slider-modal {
    padding: 120px 20px 0;
  }

  .slider-modal-buttons-wrap {
    position: relative;
    width: 111px;
    margin: 0 auto 35px;
  }

}

@media (max-width: 480px) {

  .main-page-full-screen-block {
    padding-bottom: 30px;
  }

  .main-page-full-screen-info__decor-line {
    left: 19px;
    margin: 0 35px;
  }

  // General info
  .general-info-web-other-info__button {
    max-width: 241px;
    width: 100%;
  }

  // Bottom Full Screen block

  .request-block__text-big {
    font-size: 16px;
  }

  .request-block__button {
    max-width: 100%;
  }


}