@import "template-variables";

// Footer

.footer-border-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CDD7DE;
  margin: 0;
  padding: 0;
}

.footer {
  padding: 80px 0 50px 0;
  position: relative;
}

// Logo

.footer-logo-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-logo-wrap__img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  width: 185px;
}

.footer-logo-wrap__text {
  display: none;
  color: #A7B7C5;
  text-align: left;
  width: 100%;
}

// Menus

.footer-menus-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-menu {
  width: 110px;
}

.footer-menu:first-child {
  padding: 0 35px 0 0;
}

.footer-menu__item {
  display: block;
  width: 100%;
  font-family: 'Roboto';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  color: #14487D;
  margin: 0 0 15px 0;
}

.footer-menu__item:hover {
  color: #14487D;
}

// Contact and button

.footer__contact-and-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-contact-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-contact-info__phone {
  font-size: 13px;
  color: #14487D;
  padding-right: 25px;
}

.footer-contact-info__email {
  font-size: 13px;
  color: #14487D;
}

.footer__button {
  min-width: 170px;
}


// Bottom lines

.footer-bottom-text-line {
  color: #A7B7C5;
  text-align: left;
  margin: 35px 0 130px 0;
  font-size: 14px;
}

.footer-bottom-line {
  color: #A7B7C5;
  text-align: left;
  font-size: 14px;

  a {
    color: #A7B7C5;
    font-size: 14px;

    &:hover {
      color: #A7B7C5;
    }
  }

}

.footer-bottom-line__last-item {
  text-align: right;
}

// Scroll top button
.footer__inner {
  position: relative;
}

.footer-scroll-top-button {
  width: 76px;
  height: 76px;
  position: absolute;
  right: -140px;
  top: (-40px - 80px);
  background-image: url("../img/наверх.png");
  background-size: 100% 100%;
  background-position: center;
  cursor: pointer;
}