@import "template-variables";

.main-page-full-screen-block {
  display: block;
  width: 100%;
  min-height: 480px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/main-full-img.png");
  background-repeat: no-repeat;
  padding: 335px 0 0 0;
  position: relative;
  margin: 0 0 80px 0;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20,73,125,0);
    background: linear-gradient(to bottom, rgba(20,73,125,0) 0%, rgba(20,73,125,0.44) 70%, rgba(20,72,125,0.57) 90%, rgba(20,73,125,0.62) 99%, rgba(20,73,125,0.63) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14497d', endColorstr='#14497d', GradientType=0 );
  }


}

.main-page-full-screen-info {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  z-index: 1;
}

.main-page-full-screen-info__decor-line {
  display: block;
  width: 1px;
  height: calc(100% - 11px);
  background-color: white;
  margin: 0 60px;
}

.main-page-full-screen-info__date {
  line-height: 42px;
  padding: 0 0 0 0;

  .text-big {
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
    font-weight: normal;
  }

  .text-big-two {
    margin-left: -5px;
    color: white;
  }
}

.main-page-full-screen-info__event {

  line-height: 49px;
  padding: 0 0 0 0;

  .text-big {
    color: white;
  }

}

.main-page__title {
  display: block;
  padding: 0 15px 0 0;
  margin: 0 0 120px 0;
}

// General info

.general-info {
  word-wrap: break-word;
  max-width: 100%;
  font-size: 16px;
}

// website info

.general-info-web-site-info {
  max-width: 170px;
  text-align: left;
}

.general-info-web-site-info__title {
  color: #4B6076;
  margin: 0 0 24px 0;
}

.general-info-web-site-info__value a {
  color: #0056b2;
}

// other info

.general-info-web-other-info__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  margin: 0 0 10px 0;
}

.general-info-web-other-info__item-title {
  max-width: 200px;
  width: 100%;
  color: #A7B7C5;
}

.general-info-web-other-info__item-value {
  width: 100%;
  padding: 0 45px 0 65px;
  color: #4B6076;
}


.general-info-web-other-info__button {
  display: block;
}