@import "template-variables";

// Common styles

@font-face {
  font-family: 'CenturyGothic-Bold';
  src: url(./fonts/CenturyGothic-Bold/CenturyGothic-Bold.eot);
  src: url(./fonts/CenturyGothic-Bold/CenturyGothic-Bold.eot?#iefix&v=4.7.0) format("embedded-opentype"),
  url(./fonts/CenturyGothic-Bold/CenturyGothic-Bold.woff) format("woff"),
  url(./fonts/CenturyGothic-Bold/CenturyGothic-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  outline: 0;
}

// Typography

h1 {
  font-family: 'Roboto';
  color: #14487D;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: normal;
}

h2 {
  font-family: 'Roboto';
  color: #14487D;
  font-size: 35px;
  font-weight: 700;
}

.text {
  font-family: 'Roboto';
  font-size: 20px;
  color: #4B6076;
}

.text-small {
  font-family: 'Roboto';
  font-size: 16px;
  color: #4B6076;
}

.text-small-two {
  font-family: "Arial";
  color: #A7B7C5;
  font-size: 12px;
}

.text-big {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 30px;
  color: #14487D;
}

.text-big-two {
  font-family: 'CenturyGothic-Bold';
  font-size: 60px;
  color: #14487D;
}

@media (max-width: $tmpl-screen-lg) {

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 25px;
  }

  .text {
    font-size: 16px;
  }

  .text-small {
    font-size: 14px;
  }

  .text-big {
    font-size: 20px;
  }

  .text-big-two {
    font-size: 45px;
  }

}

@media (max-width: $tmpl-screen-md) {

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
  }

  .text {
    font-size: 14px;
  }

  .text-small-two {
    font-size: 11px;
  }

  .text-big {
    font-size: 18px;
  }

  .text-big-two {
    font-size: 35px;
  }

}

@media (max-width: $tmpl-screen-sm) {

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 18px;
  }

  .text {
    font-size: 12px;
  }

  .text-small-two {
    font-size: 11px;
  }

  .text-big {
    font-size: 16px;
  }

  .text-big-two {
    font-size: 25px;
  }

}

// UI - elements

.button {
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 213px;
  min-height: 50px;
  border-width: 0;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0;
  padding: 7px 10px 5px 10px;
  word-wrap: break-word;
}

.button:focus {
  outline: none;
}

.button-bordered {
  max-width: 200px;
  box-shadow: inset 0 0 0 3px #14487D;
  color: #14487D;
  background-color: white;
}

.button-border-white {
  background-color: transparent;
  color: white;
  box-shadow: inset 0 0 0 3px white;
}

.button-colored {
  box-shadow: none;
  color: white;
  background-color: #34B6A7;
  min-height: 60px;
}

.button:hover {
  background-color: #14487D;
  color: white;
}

.button-border-white:hover {
  background-color: white;
  color: #14487D;
}

@media (max-width: $tmpl-screen-lg) {

  .button {
    font-size: 11px;
  }

  .button-colored {
    min-height: 50px;
  }

}

// Socials

.socials {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 245px;
  margin: 0;
  padding: 0;
}

.header-top-line-info__socials {
  margin: 0 51px 0 0;
}

.socials-item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 22px;
  min-height: 10px;
  background-position: center;
  background-size: 100% 100%;
  margin: 0 0 0 38px;
}

.socials-item:first-child {
  margin: 0 0 0 0;
}

.socials-item_img_facebook {
  width: 10px;
  height: 18px;
  background-image: url( ../img/socials/фейсбук.png );
}

.socials-item_img_vk {
  width: 21px;
  height: 12px;
  background-image: url( ../img/socials/вк.png );
}

.socials-item_img_instagram {
  width: 18px;
  height: 18px;
  background-image: url( ../img/socials/инстаграм.png );
}

.socials-item_img_youtube {
  width: 16px;
  height: 20px;
  background-image: url( ../img/socials/ютуб.png );
}

.socials-item_img_twitter {
  width: 24px;
  height: 17px;
  background-image: url( ../img/socials/твиттер.png );
}

// Header

.header {
  position: relative;
  padding: 40px 0 0 0;
}

.header-top-line {
  position: relative;
  margin: 0 0 90px 0;
}

.header-top-line-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-top-line-info__info-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 60px 0 0;
  font-size: 13px;
  color: #14487D;
}


.header-top-line-info__header-contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.search-button {
  width: 20px;
  height: 20px;
  background-image: url( '../img/search.png' );
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.language-switcher {
  cursor: pointer;
}


@media (max-width: $tmpl-screen-lg) {

  .header-top-line__button {
    max-width: 100%;
  }

  .header-top-line-info__info-item {
    margin: 0 29px 0 0;
  }

  .header-top-line-info__socials {
    margin: 0;
    max-width: 241px;

    .socials-item {
      margin: 0 0 0 30px;
    }

    .socials-item:first-child {
      margin: 0;
    }

  }

}

@media (max-width: 1001px) {

  .language-switcher__desktop-text {
    display: none;
  }

}

@media (max-width: 998px) {

  .header-top-line-info__header-contacts {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 10px 0;
  }

  .header-top-line-info__info-item:last-child {
    margin: 0;
  }

  .header-top-line-info__socials {
    max-width: 100%;
    justify-content: flex-end;
  }


}

@media (max-width: 769px) {

  .header {
    padding: 47px 0 0 0;
  }

}

@media (max-width: 767px) {

  .container {
    padding: 0 20px;
  }

}

// Logo

.header-logo-and-main-menu {
  display: flex;
  width: 100%;
  min-height: 78px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  padding: 0 0 0 450px;
}

.header-logo {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  position: absolute;
  left: 0;
  top: 0;
}

.header-logo__img-wrap {
  display: inline-block;
  vertical-align: bottom;
}

.header-logo__img-main,
.header-logo__img-tagline {
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
}

.header-logo__img-main {
  max-width: 171px;
  margin: 0 30px 0 0;
}


// Header menu

.header-main-menu {

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 -12px 0 0;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: top;
      position: relative;
      text-align: center;
      cursor: pointer;

      a {
        display: block;
        padding: 25px 12px 0 12px;
        font-family: 'Roboto';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        color: #A7B7C5;
      }

      &:hover:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 8px;
        top: 0;
        left: 0;
        background-image: url("../img/menu-item-hover-bg.png");
        background-repeat: repeat-x;
      }

      &:hover a {
        color: #14487D;
        text-decoration: none;
      }

    }

  }

}


@media (max-width: $tmpl-screen-xl) {

  .header-logo__img-main {
    max-width: 155px;
    margin: 0 13px 0 0;
  }

  .header-logo__img-tagline {
    max-width: 204px;
  }

  .header-logo-and-main-menu {
    padding: 0 0 0 416px;
  }

  .header-main-menu ul li a {
    padding: 25px 11px 0 11px;
  }

}

@media (max-width: $tmpl-screen-lg) {

  .header-logo-and-main-menu {
    min-height: 60px;
  }

  .header-top-line {
    margin: 0 0 56px 0;
  }

  .header-logo__img-main {
    max-width: 127px;
    margin: 0 17px 0 0;
  }

  .header-logo__img-tagline {
    max-width: 147px;
  }

  .header-logo-and-main-menu {
    padding: 0 0 0 310px;
  }

  .header-main-menu ul li a {
    padding: 25px 9px 0 9px;
  }

}

@media (max-width: $tmpl-screen-md) {

  .header-logo-and-main-menu {
    min-height: 93px;
  }

  .header-top-line {
    margin: 0 0 9px 0;
  }

  .header-logo {
    flex-direction: column;
  }

  .header-logo__img-main {
    max-width: 112px;
    margin: 0 0 12px 0;
  }

  .header-logo__img-tagline {
    max-width: 145px;
  }

  .header-logo-and-main-menu {
    padding: 0 0 0 145px;
  }

  .header-main-menu ul li a {
    font-size: 11px;
    padding: 25px 8px 0 8px;
  }

}





