/** Include Libs */

// Get bootstrap grid only
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Customize bootstrap grid for this project
$grid-columns: 60;
$grid-gutter-width: 0;

@import "template-variables";

$grid-breakpoints: (
        // Extra small screen / phone
        xs: $tmpl-screen-xs,
        // Small screen / phone
        sm: $tmpl-screen-sm,
        // Medium screen / tablet
        md: $tmpl-screen-md,
        // Large screen / desktop
        lg: $tmpl-screen-lg,
        // Extra large screen / wide desktop
        xl: $tmpl-screen-xl
);

$container-max-widths: (
        sm: 668px,
        md: 860px,
        lg: 1000px,
        xl: 1200px
);

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";

// Get only one animation from hamburgers
$hamburger-types: (
        slider,
        slider-r
);

@import "~hamburgers/_sass/hamburgers/hamburgers";

// Modal window Magnific popup styles
@import "~magnific-popup/src/css/main.scss";

/** END Include Libs */

@import "common";
@import "typography";

@import "header";
@import "main-page";

// Responsive styles
@import "media/media";